/*全局样式*/
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{
	margin:0;
	padding:0
}
li{list-style: none;}
a{text-decoration: none;color: #252525;}
a:hover{color: #ba2636;}
img{vertical-align: top; border: none;}
.clear{zoom: 1;}
.clear:after{content: '';display: block;clear: both;}


/*首页样式*/
body{
	width: 960px;
	margin: 0 auto;
	color: #252525;
}

#header{
	margin-top: 80px;
	height: 55px;
}

#header-logo{
	float: left;
	width: 365px;
	height: 40px;
}

#header-ad{
	float: left;
	margin-right: 10px;
	width: 450px;
	height: 40px;
}

#heaer-r{
	width: 130px;
	height: 40px;
}

#menus{
	height: 81px;
	font-size: 12px;
	background-color: green;
	padding-top: 10px;
	border-top: 4px solid #206f96;
}
#menus .item>a{
	line-height: 22px;
	height: 22px;		
	white-space: nowrap;
}

#menus div{
	float: left;
	background: url(images/menus-bg-line.gif) no-repeat left top;
}
#menus .w173{
	width: 173px;
}

#menus::nth-child(n+2){
	background-color: red;
}